{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}

<style>
    .container-fluid {
        max-width: 100%;
    }

    .account-form input {
        border: 2px solid #ccc;
        height: calc(2em + .75rem + 2px);
    }

    .account-form input:focus {
        border-color: #1497ff;
        box-shadow: none;
    }
</style>
<div class="container">

    <body class="text-center">
        <main class="form-signin">
            <form action="." method="post">
                

              




<div class="container-fluid">
    <div class="row no-gutter">
        <div class="col-md-12">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-6  mx-auto">
                            <form class="account-form p-4" action="{% url 'account:register' %}" method="post">
                                {% csrf_token %}
                                <h1 class="h3 mb-3 py-3">Create an Account</h1>
                                {% if form.errors %}
                                <div class="alert alert-primary" role="alert">
                                    Error: Username or Password not correct!
                                </div>
                                {% endif %}

                                {{ form.user_name }}

                                {{ form.email }}

                                {{ form.password }}

                                {{ form.password2 }}
                                <div class="d-grid gap-1">
                                    <p class="text-center py-4">
                                        <a href="{% url "account:login" %}">Already have an account?</a>
                                    </p>
                                    <button class="btn btn-primary btn-block mb-2" type="submit">Register</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
