{% extends '../base.html' %}
{% block content %}
<div class="container">
    <h1 class="fw-light text-center py-3">Welcome to CC Tights</h1>
    <p class="lead text-center">All items are worn by me, a UK based cabin crew member flying shorthaul routes.</p>
    <p>I offer free delivery to UK addresses and secure payments through Stripe. There seems to be most demand for tights that smell like my feet, so the tights on here have been worn on at least three different flights. If you have any specific requests e.g for tights that have only been worn once, then please let me know. I aim to please! </p>
    <p>I hope you see something you like. Please email me <a href="mailto:info@cctights.co.uk">here</a> if you have any questions. I'd love to hear from you!</p>
    <p class="text-center">A x</p>
</div>
{% endblock %}
