{% extends '../base.html' %}
{% block content %}
<div class="container">
    <h1 class="fw-light text-center py-3">Welcome to CC Tights</h1>
    <p>The site was built from scratch for the sole purpose of selling worn cabin crew items, with the aim of providing
        a 'one stop shop' for those interested in buying these items.</p>
    <p>Rather than relying on social media groups, personal communication and the risk of directly transferring funds to a seller, our
        site provides secure payments handled by an industry leading ecommerce payment handling service, Stripe.</p>
    <p>We hope that this site can improve the experience of buying and selling worn cabin crew items. Having worked in
        the airline industry for many years, we have contacts that will allow us eventually to be able to sell a wide
        range of items. If you have items to sell please <a href="mailto:info@cctights.com">get in touch.</a></p>
    <p>If you have any questions or feedback for us, please get in touch with us <a href="mailto:info@cctights.com">here.</a>
    </p>
</div>
{% endblock %}
