{% extends '../base.html' %}
{% block content %}
<div class="container">
    <h1 class="text-center py-3">Welcome to CC Tights</h1>
    <p>Worn cabin crew stockings/tights/pantyhose from a UK based cabin crew member. If I have any other crew items available I may also list these, e.g. worn high heeled shoes.</p> 
        <p>If you have any questions or feedback, please get in touch with me <a href="mailto:info@cctights.com">here.</a></p>
        <p>We hope to grow and improve this website over time.</p>
</div>
{% endblock %}